* {
  box-sizing: border-box;
  margin: 0;
}
html,
body {
  background-color: #d9d9d9;
}

.btn {
  background-color: #7b2ce9;
  color: #d0d0d0;
  padding: 0.8rem 1.4rem;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
  font-weight: 700;
}
