@import "./globals.scss";

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 1rem;
  h2 {
    margin: 0 0 2rem 0;
    font-size: 6rem;
  }

  p {
    text-align: center;
    max-width: 75vw;
    line-height: 2rem;
  }

  .btn {
    margin-top: 2rem;
    background-color: #7b2ce9;
    color: #d0d0d0;
    padding: 0.8rem 1.4rem;
    border-radius: 1rem;
    cursor: pointer;
    border: none;
    font-weight: 700;
  }
}
